body{
    background-image: url("RAMV.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
}

h1{
    color:rgb(12, 168, 235);
    font-size: 30px;
}

a{
    color:rgb(255, 255, 255);
    font-size: 30px;
    padding:50px 50px 50px 50px ;
}

pre{
    color:rgb(255, 255, 255);
    font-size: 30px;
}

li{
    display:inline-block;
    background-color: rgb(12, 168, 235);
    opacity: 0.6;
    border: 1px solid black;
    outline-style: solid;
    outline-color: white;
    outline-width: medium;
}
